body {
    background-color: white;
    background-image: url('./scott-webb-195100.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
.intro-text-body {
    margin-left: 50px;
    font-family: 'Space Mono', monospace;
}
.content-main {
    background-color: white;
    width: 100vw;
    height: 1100px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.projects-main {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}
.each-project {
    height: 280px;
    width: 280px;
    border: 1px solid black;
}